.box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.card {
    margin-bottom: 1rem;
}

.rowBox {
    margin-top: 1rem;
}

.title {
    font-style: italic;
    font-weight: bold;
    color: darkblue;
    font-size: large;
}

.image {
    padding: 10px;
    width: 12rem;
    height: 12rem;
}

.cardButton {
    left: 25%;
    width: 10rem;
}

.smallCardButton {
    width: 6rem;
    margin: 5px !important;
    padding: 6px 3px !important;
}

.containerButton {
    margin-bottom: 10px !important;
}

.containerAdminButtons {
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-end !important;
    margin: 10px !important;

}